table {
  margin-left:auto;
  margin-right:auto;
  padding-top: 10;
  border-bottom: 10;
  /* border: 1px solid gray; */
  /* border-left: 1px solid chartreuse;
  border-top: 1px solid indigo; */
  /* border-collapse: collapse; */
}


.shadow {
  -moz-box-shadow: 3px 3px 4px #CDCDCD;
  -webkit-box-shadow: 3px 3px 4px #CDCDCD;
  -chrome-box-shadow: 3px 3px 4px #CDCDCD;
  box-shadow: 3px 3px 4px #CDCDCD;
  -box-shadow: 3px 3px 4px #CDCDCD;
}
